{% extends "base.html" %}
{% block styles %}
  <!-- Стили, специфичные для страницы listing могут быть добавлены здесь, если они есть -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
{% endblock %}
{% block title %}Листинг объявлений{% endblock %}

{% block content %}


<!-- Карточки -->
<div class="main-title">
    <h2>DASHBOARD</h2>
</div>

<div class="main-cards">

    <div class="card">
        <div class="card-inner">
            <h3>PRODUCTS</h3>
            <span class="material-icons-outlined">inventory_2</span>
        </div>
        <h1>249</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <h3>CATEGORIES</h3>
            <span class="material-icons-outlined">category</span>
        </div>
        <h1>25</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <h3>CUSTOMERS</h3>
            <span class="material-icons-outlined">groups</span>
        </div>
        <h1>1500</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <h3>ALERTS</h3>
            <span class="material-icons-outlined">notification_important</span>
        </div>
        <h1>56</h1>
    </div>

</div>
<!-- Кнопка фильтра -->
<div class="mb-4">
    <button class="btn btn-outline-secondary me-2">Фильтр объявлений</button>
</div>
<!-- Таблица -->
<div class="card-table">
    <div class="card-body">
        <table class="table" id="myTable">
            <thead>
            <tr>
                <th scope="col">Заголовок</th>
                <th scope="col">Цена</th>
                <th scope="col">Адрес</th>
                <th scope="col">Ссылка</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">Ответственный</th>
                <th scope="col">Статус звонка</th>
            </tr>
            </thead>
            <tbody>
            {% for listing in listings %}
            <tr>
                <td>{{ listing.title }}</td>
                <td>{{ listing.price }} ₽</td>
                <td>{{ listing.address }}</td>
                <td><a href="{{ listing.link }}">Ссылка</a></td>
                <td>{{ listing.phone_number }}</td>
                <td>{{ listing.responsible.user.first_name }}</td>
                <td><span class="badge bg-secondary">{{ listing.call_status }}</span></td>
            </tr>
            {% endfor %}
            <!-- Дополнительные строки могут быть добавлены здесь -->
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block scripts %}
<!-- Скрипты, необходимые для страницы listing -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script>
$(document).ready(function() {
    $('.table').DataTable({
        "lengthMenu": [ 5, 10, 20 ],
        "pageLength": 5,
        "language": {
            "search": "Поиск:",
            "lengthMenu": "Показать _MENU_ записей",
            "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
            "infoEmpty": "Записи с 0 до 0 из 0 записей",
            "infoFiltered": "(отфильтровано из _MAX_ записей)",
            "loadingRecords": "Загрузка...",
            "zeroRecords": "Записи отсутствуют.",
            "emptyTable": "В таблице отсутствуют данные",
            "paginate": {
                "first": "Первая",
                "previous": "Предыдущая",
                "next": "Следующая",
                "last": "Последняя"
            },
            "aria": {
                "sortAscending": ": активировать для сортировки столбца по возрастанию",
                "sortDescending": ": активировать для сортировки столбца по убыванию"
            }
        }
    });
});
</script>
{% endblock %}
