{% extends "employee/base_employee.html" %}
{% block styles %}
  <!-- Стили, специфичные для страницы listing могут быть добавлены здесь, если они есть -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
{% endblock %}
{% block title %}Сотрудник Листинг объявлений{% endblock %}

{% block content %}


<!-- Карточки (возможно и для сотрудников оставлю (собственное количество статистики)) -->
<div class="main-title">
    <h2>DASHBOARD</h2>
</div>

<div class="main-cards">

    <div class="card">
        <div class="card-inner">
            <h5>Всего объектов</h5>
            <span class="material-icons-outlined">inventory_2</span>
        </div>
        <h1>{{ listings_count }}</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <h5>Наши объекты</h5>
            <span class="material-icons-outlined">category</span>
        </div>
        <h1>{{ our_listings_count }}</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <h5>Не договорился</h5>
            <span class="material-icons-outlined">groups</span>
        </div>
        <h1>{{ not_agree_status }}</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <h5>Не дозвонился</h5>
            <span class="material-icons-outlined">notification_important</span>
        </div>
        <h1>{{ not_phone_status }}</h1>
    </div>

    <div class="card">
        <div class="card-inner">
            <h5>Конверсия</h5>
            <span class="material-icons-outlined">notification_important</span>
        </div>
        <h1>56</h1>
    </div>

</div>
<!-- Кнопка фильтра -->
<div class="mb-4">
    <button class="btn btn-outline-secondary me-2">Фильтр объявлений</button>
</div>
<!-- Таблица -->
<div class="card-table">
    <div class="card-body">
        <table class="table" id="myTable">
            <thead>
            <tr>
                <th scope="col">Дата и время</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Цена</th>
                <th scope="col">Адрес</th>
                <th scope="col">Ссылка</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">Ответственный</th>
                <th scope="col">Статус звонка</th>
            </tr>
            </thead>
            <tbody>
            {% for listing in listings %}
            <tr>
                <td>{{ listing.created_at|date:"d.m.Y H:i:s" }}</td>
                <td>{{ listing.title }}</td>
                <td>{{ listing.price }} ₽</td>
                <td>{{ listing.address }}</td>
                <td><a href="{{ listing.link }}">Ссылка</a></td>
                <td>{{ listing.phone_number }}</td>
                <td>{{ listing.responsible.user.first_name }}</td>
                <td><span class="badge bg-secondary">{{ listing.call_status }}</span></td>
            </tr>
            {% endfor %}
            <!-- Дополнительные строки могут быть добавлены здесь -->
            </tbody>
        </table>
    </div>
</div>
<!-- Модальное окно для нового объявления -->
<div id="newListingModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 800px;">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Текущий вызов</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p id="modalTitle"></p>
        <div class="info">
          <div class="price">
            <span>Цена:</span> <span id="modalPrice"></span>
          </div>
          <div class="address">
            <span>Адрес:</span> <span id="modalAddress"></span>
          </div>
          <div class="metro">
            <span>Метро:</span> <span id="modalMetro"></span>
          </div>
          <div class="phone">
            <span>Номер телефона:</span> <span id="modalPhone"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="ourObjectBtn">Наш объект</button>
        <button type="button" class="btn btn-secondary">Не договорился</button>
        <button type="button" class="btn btn-success">Не дозвонился</button>
        <button type="button" class="btn btn-danger">Агент</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Скрипты, необходимые для страницы listing -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script>
$(document).ready(function() {
    $('.table').DataTable({
        "lengthMenu": [ 5, 10, 20 ],
        "pageLength": 5,
        "language": {
            "search": "Поиск:",
            "lengthMenu": "Показать _MENU_ записей",
            "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
            "infoEmpty": "Записи с 0 до 0 из 0 записей",
            "infoFiltered": "(отфильтровано из _MAX_ записей)",
            "loadingRecords": "Загрузка...",
            "zeroRecords": "Записи отсутствуют.",
            "emptyTable": "В таблице отсутствуют данные",
            "paginate": {
                "first": "Первая",
                "previous": "Предыдущая",
                "next": "Следующая",
                "last": "Последняя"
            },
            "aria": {
                "sortAscending": ": активировать для сортировки столбца по возрастанию",
                "sortDescending": ": активировать для сортировки столбца по убыванию"
            }
        }
    });
});
</script>
<script>
    // Подключение к WebSocket для обновления объявлений
    const listingSocket = new WebSocket(
        'ws://' + window.location.host + '/myapp/'
    );
    // Обработка входящих сообщений от сервера для обновления объявлений
    listingSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data.type === 'listing_message') {
            // Обработка сообщения об обновлении объявления
            const listing = data.listing;
            console.log(listing);
            const tableBody = document.querySelector('.table tbody');
            const row = tableBody.insertRow(0);
            row.innerHTML = `
                    <td>${listing.created_at}</td>
                    <td>${listing.title}</td>
                    <td>${listing.price} ₽</td>
                    <td>${listing.address}</td>
                    <td><a href="${listing.link}">Ссылка</a></td>
                    <td>${listing.phone_number}</td>
                    <td>${listing.responsible_name}</td>
                    <td>${listing.call_status}</td>
                `;
            // Обновление значения listings_count
            const listingsCountElement = document.querySelector('.card h1');
            const currentCount = parseInt(listingsCountElement.textContent);
            listingsCountElement.textContent = currentCount + 1;
            // Заполнение модального окна данными
            document.getElementById('modalTitle').textContent = listing.title;
            document.getElementById('modalPrice').textContent = `${listing.price} ₽`;
            document.getElementById('modalAddress').textContent = listing.address;
            document.getElementById('modalMetro').textContent = listing.metro; // Убедитесь, что у вас есть поле metro
            document.getElementById('modalPhone').textContent = listing.phone_number;

            // Показ модального окна
            const modal = new bootstrap.Modal(document.getElementById('newListingModal'));
            modal.show();

            // Закрытие модального окна при клике на крестик
            const closeButton = document.querySelector('.close');
            closeButton.onclick = function () {
                modal.hide();
            };
            // Обработчик клика на кнопке "Наш объект"
            document.getElementById('ourObjectBtn').addEventListener('click', function () {
                const listingId = listing.id; // Получаем идентификатор объявления из объекта listing
                const data = {
                    'new_obect_data': JSON.stringify({'listing_id': listingId})
                };
                fetch('{% url "listings_employee" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: new URLSearchParams(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            alert('Объект успешно добавлен в "Наши объекты"');
                            // Дополнительные действия после успешного добавления объекта
                        } else {
                            alert('Ошибка при добавлении объекта: ' + data.message);
                        }
                    })
                    .catch(error => {
                        alert('Произошла ошибка при выполнении запроса');
                        console.error('Ошибка:', error);
                    });
            });
        }
    };
</script>
{% endblock %}